<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue.js App</title>
    <link href="main.css" rel="stylesheet">
</head>
<body>
    <div id="app">
        <p>{{message}}</p>
        <input v-model="message">
        <input v-model.number="count">
        <p v-if="show">Hello Vue.js!!</p>
        <ol>
            <li v-for="item in list">{{item}}</li>
        </ol>
        <button v-on:click="handleClick">Click</button>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <script src="main.js"></script>
</body>
</html>